<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a class="menu-top-active" href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">MES CHANTIERS</h4>
                </div>
            </div>

            <div class="form-group">
                <label>Choisissez le chantier à visualiser</label>

            </div>

            <div class="panel panel-default">
                <div class="panel-header">
                    <select class="form-control">
                        <option selected="selected"><h4>Mon premier chantier</h4></option>
                    </select>
                </div>

                <div class="panel-body">
                    <div class="form-group dropdown panel panel-success">
                        <div class="panel-heading">
                            <h4>
                                <button class="btn btn-success btn-sm" id="config-button" type="button" aria-expanded="true" onclick="javascript:afficher('config');javascript:plusMoins('config-button');">
                                    <i class="fa fa-plus"></i>
                                </button>
                                Configuration
                            </h4>
                        </div>

                        <div class="panel-body" id="config" style="display:none;">
                            Divers trucs.
                        </div>
                    </div>

                    <div class="form-group dropdown panel panel-success">
                        <div class="panel-heading">
                            <h4>
                                <button class="btn btn-success btn-sm" id="mise-button" type="button" aria-expanded="true" onclick="javascript:afficher('mise');javascript:plusMoins('mise-button');">
                                    <i class="fa fa-plus"></i>
                                </button>
                                Mise en place
                            </h4>
                        </div>

                        <div class="panel-body" id="mise" style="display:none;">
                            Divers trucs.
                        </div>
                    </div>

                    <div class="form-group dropdown panel panel-success">
                        <div class="panel-heading">
                            <h4>
                                <button class="btn btn-success btn-sm" id="zone-button" type="button" aria-expanded="true" onclick="javascript:afficher('zone');javascript:plusMoins('zone-button');">
                                    <i class="fa fa-plus"></i>
                                </button>
                                Restriction de la zone d'intérêt
                            </h4>
                        </div>

                        <div class="panel-body" id="zone" style="display:none;">
                            Divers trucs.
                            <div id="Restriction" style="width:50%;height:400px; "> </div>
                            <input type="radio" id="saisieMasqButton1Restriction" name="saisieMasqButton"  value="1"> Oui<br>
                            <input type="radio" id="saisieMasqButton2Restriction"  name="saisieMasqButton"   value="2" checked> Non<br>
                            <button id="submitMasqRestriction" >Masque terminé</button>
                        </div>
                    </div>

                    <div class="form-group dropdown panel panel-success">
                        <div class="panel-heading">
                            <h4>
                                <button class="btn btn-success btn-sm" id="produits-button" type="button" aria-expanded="true" onclick="javascript:afficher('produits');javascript:plusMoins('produits-button');">
                                    <i class="fa fa-plus"></i>
                                </button>
                                Produits
                            </h4>
                        </div>

                        <div class="panel-body" id="produits" style="display:none;">
                            <div id="produit" style="width:80%;height:600px; "> </div>
                            Divers trucs.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/webGL/three.min.js"></script>
    <script src="/javascripts/webGL/webGL_MicMac.js"></script>
    <script src="/javascripts/webGL/PLYLoader.js"></script>
    <script src="/javascripts/webGL/Detector.js"></script>
    <script src="/javascripts/webGL/OrbitControls.js"></script>
    <script src="/javascripts/webGL/CanvasRenderer.js"></script>
    <script>
    webGL_MicMac("AperiCloud_MEP.ply","Restriction");
    // webGL_MicMac("AperiCloud_MEP.ply","produit");
    </script>
</body>
</html>
