<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a class="menu-top-active" href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">MES CHANTIERS (<%= chantiers.length %> ) </h4>
                </div>
            </div>

            <div class="form-group">
                <label>Choisissez le chantier à visualiser</label>

            </div>

            <div class="panel panel-default">
        
                <div class="panel-header">
					<select class="form-control" id="idChantier">
						<% chantiers.forEach(function(chantier) { %>
							<% console.log(chantier.nom); %>
							<option value="<%= chantier.id %>"><%= chantier.nom %></option>
						<% }); %>
					</select>
                </div>

                <div class="panel-body">
                    
                    <% include chantiers/onglet_configuration %> 

                    <% include chantiers/onglet_miseEnPlace %> 

                    <% include chantiers/onglet_zone %> 
                    
                    <% include chantiers/onglet_produits %> 
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
   
    <script src="/javascripts/getParameters.js"></script>
    <script type="text/javascript" src="/javascripts/valider_onglet.js"></script>
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/chantiers.js"></script>
    <script src="/javascripts/webGL/three.min.js"></script>
    <script src="/javascripts/webGL/webGL_MicMac.js"></script>
    <script src="/javascripts/webGL/PLYLoader.js"></script>
    <script src="/javascripts/webGL/Detector.js"></script>
    <script src="/javascripts/webGL/OrbitControls.js"></script>
    <script src="/javascripts/webGL/CanvasRenderer.js"></script>
    <script>
    webGL_MicMac("AperiCloud_MEP.ply","Restriction");
    // webGL_MicMac("AperiCloud_MEP.ply","produit");
    </script>
     
</body>
</html>
