<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line"> L'ÉQUIPE</h4>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <img src="/images/equipe.jpg" alt="Notre équipe" height=300/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>
