<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">ACCUEIL</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        Vous n'avez pas besoin de vous authentifier !
                    </div>
                </div>

            </div>

            <div class="row">
                 <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="presentation">
                        <div class="dashboard-div-wrapper bk-clr-one">
                            <i class="fa fa-info dashboard-div-icon" ></i>
                            <h5>Présentation du site</h5>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="exemples">
                    <div class="dashboard-div-wrapper bk-clr-two">
                        <i class="fa fa-eye dashboard-div-icon" ></i>
                        <h5>Exemples de projets</h5>
                    </div>
                   </a>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="tutoriels">
                        <div class="dashboard-div-wrapper bk-clr-three">
                            <i class="fa fa-book dashboard-div-icon" ></i>
                            <h5>Tutoriels & glossaire</h5>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="credits">
                        <div class="dashboard-div-wrapper bk-clr-four">
                            <i class="fa fa-globe dashboard-div-icon" ></i>
                            <h5>Notre équipe</h5>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>
