<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Identifiez-vous pour continuer </h4>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label>Courriel : </label>
                    <input type="text" class="form-control" />
                    <label>Mot de passe :  </label>
                    <input type="password" class="form-control" />
                    <hr />
                    <a href="/" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;S'enregistrer </a>&nbsp;
                    <a href="nouvel_utilisateur" class="btn btn-social btn-other"><span class="glyphicon glyphicon-edit"></span> &nbsp;Première fois ici ? </a>&nbsp;
                </div>
            </div>
            
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>

