<% include head_foot/header %>

<!-----------------------------Champ caché idChantier -------------------------->
	
	<input id="idChantier" type="hidden" value="-1" >
	
<!-----------------------------Champ caché onglet courrant -------------------------->
	
	<input id="ongletCourrant" type="hidden" value="on_click1" >
	
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a class="menu-top-active" href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Nouveau chantier</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable1" class="dashboard-div-wrapper bk-clr-one" onclick="javascript:valider_onglet('on_click1');">
                            <i class="fa fa-chevron-down dashboard-div-icon" ></i>
                            <h5>Création du chantier</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable2" class="dashboard-div-wrapper bk-clr-two" onclick="javascript:valider_onglet('on_click2');">
                            <i  class="fa fa-chevron-right dashboard-div-icon" ></i>
                            <h5>Import des images</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable3" class="dashboard-div-wrapper bk-clr-three" onclick="javascript:valider_onglet('on_click3');">
                            <i  class="fa fa-chevron-right dashboard-div-icon" ></i>
                            <h5>Paramétrage du chantier</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable4" class="dashboard-div-wrapper bk-clr-four" onclick="javascript:valider_onglet('on_click4');">
                            <i  class="fa fa-stop dashboard-div-icon" ></i>
                            <h5>Validation</h5>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <% include nouveau_chantier/onglet_creation/main %>
                                        
                    <% include nouveau_chantier/onglet_import_images/main %>

                    <% include nouveau_chantier/onglet_parametrage/main %>

                    <% include nouveau_chantier/onglet_validation/main %>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/pop-up.js"></script>
    <script type="text/javascript" src="/javascripts/valider_onglet.js"></script>
    <script type="text/javascript" src="/javascripts/dropfiles.js"></script>
</body>
</html>
