<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Mojito</title>
    <link href="/images/Mojito-cocktail.ico" rel="shortcut icon" />
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS  -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
     <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="login"><i class="glyphicon glyphicon-user"></i> Utilisateur  </a>
                    <a href="#"><i class="glyphicon glyphicon-off"></i> Déconnexion </a>
                </div>

            </div>
        </div>
    </header>

	<form action="" name="idchantier" style="display: none;" >
	<input type="text" value="-1">
	</form>
	
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo.png" alt="logo"/>
                </a>
            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="login">
                                <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a class="menu-top-active" href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Nouveau chantier</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable1" class="dashboard-div-wrapper bk-clr-one" onclick="javascript:valider_onglet('on_click1');">
                            <i class="fa fa-chevron-down dashboard-div-icon" ></i>
                            <h5>Création du chantier</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable2" class="dashboard-div-wrapper bk-clr-two" onclick="javascript:valider_onglet('on_click2');">
                            <i  class="fa fa-chevron-right dashboard-div-icon" ></i>
                            <h5>Export des images</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable3" class="dashboard-div-wrapper bk-clr-three" onclick="javascript:valider_onglet('on_click3');">
                            <i  class="fa fa-chevron-right dashboard-div-icon" ></i>
                            <h5>Paramétrage du chantier</h5>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <a href="#">
                        <div id="cliquable4" class="dashboard-div-wrapper bk-clr-four" onclick="javascript:valider_onglet('on_click4');">
                            <i  class="fa fa-stop dashboard-div-icon" ></i>
                            <h5>Validation</h5>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6" id="on_click1">
						<form method="get"  name="on_click2a" >
                        <div class="notice-board">
                            <label>Nom du chantier</label>
                            <input type="text" class="form-control" placeholder="Text input" id="chantiername" />
                            <br />

                            <label>Commentaire</label>
                            <textarea class="form-control" rows="3" placeholder="Text Area" id="comment" ></textarea>
                            <br />

                            <div class="dropdown">
                                <label>Type de chantier</label>
                                <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" >
                                    <i class="fa fa-question" ></i>
                                </button>
                                <div class="dropdown-menu" role="presentation" aria-labelledby="dropdownMenu1">
                                    &nbsp;Plein de texte explicatif.
                                </div>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="statue" id="optionsRadios1" value="option1" checked />
                                    Statue
                                </label>
                            </div>

                            <div class="radio disabled">
                                <label>
                                    <input type="radio" name="façade" id="optionsRadios2" value="option2" disabled />
                                    Façade
                                </label>
                            </div>
                        </div>
                        <br />						
						
                        <input href="#" class="btn btn-social btn-other" value="Suivant" onclick="javascript:valider_onglet('on_click2');">
						</form>

                    </div>
                    
<!----------------------------------------------------  Onglet import des images -------------------------------------------------> 
                    
                    <div class="col-md-6" id="on_click2" style="display:none;">
                        <!--DRAG AND DROP ZONE BELOW -->
                        <div class="container">
                          <div class="panel panel-default">
                            <div class="panel-heading"><strong>Import des images</strong></div>
                            <div class="panel-body">

                              <!-- Standar Form -->
                              <h4>Selectionnez des images depuis votre ordinateur</h4>
                              
                              <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                <div class="form-inline">
                                  <div class="form-group">
                                    <input type="file" name="files[]" id="js-upload-files" multiple>
                                  </div>
                                  <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Importer</button>
                                </div>
                              </form>

                              <!-- Drop Zone -->
                              <h4>Ou faites-les glisser en-dessous</h4>
                              <div class="upload-drop-zone" id="drop-zone">
                                Faites glisser vos images ici
                              </div>

                              <!-- Progress Bar -->
                              <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                  <span class="sr-only">60%</span>
                                </div>
                              </div>

                              <!-- Upload Finished -->
                              <div class="js-upload-finished">
                                <h3>Fichiers importés</h3>
                                <div class="list-group">
                                  <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">OK</span>image-01.jpg</a>
                                  <a href="#" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">OK</span>image-02.jpg</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> <!-- /container -->
                        <!--END OF DRAG AND DROP-->

                        <br />
                        <a href="#" class="btn btn-social btn-other" onclick="javascript:valider_onglet('on_click3');">
                            Suivant
                        </a>
                    </div>

<!-------------------------------------------------- Fin Onglet import des images -----------------------------------------------------> 

                    <div class="col-md-6" id="on_click3" style="display:none;">
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#param-pills" data-toggle="tab">Paramètres de traitement</a>
                                </li>
                                <li class=""><a href="#images-pills" data-toggle="tab">Gestion des images</a>
                                </li>
                                <li class=""><a href="#cameras-pills" data-toggle="tab">Gestion des caméras</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="param-pills">
                                    <br />
                                    <div class="notice-board">
                                        <div class="dropdown">
                                            <label>Mode de restriction de la zone de travail</label>
                                            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-question" ></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" role="presentation">
                                                &nbsp;Plein de texte explicatif.
                                            </div>
                                        </div>

                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option1" checked />
                                                Deux masques 2D
                                            </label>
                                        </div>
                                        <div class="radio disabled">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios4" value="option2" />
                                                Un masque 3D
                                            </label>
                                        </div>
                                        <br />

                                        <div class="dropdown">
                                            <label>Nombre de points de liaison</label>
                                            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-question" ></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu3" role="presentation">
                                                &nbsp;Plein de texte explicatif.
                                            </div>
                                        </div>

                                        <select class="form-control">
                                            <option>Faible</option>
                                            <option selected="selected">Moyen</option>
                                            <option>Important</option>
                                            <option>Maximal</option>
                                        </select>
                                        <br />

                                        <div class="dropdown">
                                            <label>Géoréférencement des données</label>
                                            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
                                                <i class="fa fa-question" ></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu4" role="presentation">
                                                &nbsp;Plein de texte explicatif.
                                            </div>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" />
                                                Mise à l'échelle
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Basculement
                                            </label>
                                        </div>
                                        <br />

                                        <label> Produits à livrer</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="" checked />
                                                Nuage de points 3D
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Points de liaison
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Nuage de points de liaison et position des caméras
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Calibration
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Fichiers d'orientation
                                            </label>
                                            <br />
                                            <label>
                                                <input type="checkbox" value="" />
                                                Rapport de mise en place
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="images-pills">
                                    <h4>Profile Tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="tab-pane fade" id="cameras-pills">
                                    <div class="panel-body">
                                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myExif">
                                          Visualiser les données exif
                                        </button>
                                        <div class="modal fade" id="myExif" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="myModalLabel">Visualisation des données exif</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="radio horizontal-radio">
                                                            <div class="inline-radio">
                                                                <label>
                                                                    <input type="radio" name="radioexif" id="image" value="option2" checked />
                                                                    Par image&nbsp;
                                                                </label>
                                                            </div>
                                                            <div class="inline-radio">
                                                                <label>
                                                                    <input type="radio" name="radioexif" id="balise" value="option2" />
                                                                    Par balise exif
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myEtalon">
                                          Modifier l'étalonnage
                                        </button>
                                        <div class="modal fade" id="myEtalon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="myModalLabel">Définition de l'étalonnage</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="get"  >
                                                            <div class="notice-board">
                                                                <label>Nom de la calibration</label>
                                                                <input type="text" class="form-control" placeholder="Text input" id="calibrationname" />
                                                                                              
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="auto" value="option1" checked />
                                                                        Auto-Étalonnage
                                                                    </label>
                                                                    
                                                                    <div class="radio horizontal-radio">
                                                                        <div class="inline-radio">
                                                                            <label>
                                                                                <input type="radio" name="options" id="standard" value="option2" checked />
                                                                                Standard&nbsp;
                                                                            </label>
                                                                        </div>
                                                                        <div class="inline-radio">
                                                                            <label>
                                                                                <input type="radio" name="options" id="fisheye" value="option2" />
                                                                                Fish-Eye
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="" />
                                                                            Images spécifiques pour la calibration
                                                                        </label>
                                                                        
                                                                        <p>Solution technique à trouver</p>
                                                                    </div>
                                                                    
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="" />
                                                                            Informations sur le capteur
                                                                        </label>
                                                                        
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input type="checkbox" value="" />
                                                                                Focale réelle
                                                                                <input type="number" class="inline-input" id="focalereelle" min="0" /> mm
                                                                            </label>
                                                                        </div>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input type="checkbox" value="" />
                                                                                Dimensions
                                                                                <input type="number" class="inline-input" id="dim_1" min="0" />
                                                                                x
                                                                                <input type="number" class="inline-input" id="dim_2" min="0" /> mm
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="fromFile" value="option2" />
                                                                        Fichier de calibration
                                                                    </label>

                                                                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                                                        <div class="form-inline">
                                                                            <div class="form-group">
                                                                                <input type="file" name="files[]" id="js-upload-files">
                                                                            </div>
                                                                            <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Importer</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <br />						
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <a href="#" class="btn btn-social btn-other" onclick="javascript:valider_onglet('on_click4');">
                            Suivant
                        </a>
                    </div>

                    <div class="col-md-6" id="on_click4" style="display:none;">
                        <div class="notice-board">
                            Résumé de ce qu'il s'est passé avant.
                            <br />
                            <a class="btn btn-social btn-other" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;LANCER LE CALCUL </a>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="credits">Qui sommes nous ?</a>
                </div>

            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/valider_onglet.js"></script>
    <script type="text/javascript" src="/javascripts/dropfiles.js"></script>
</body>
</html>
