<h4>Paramètres de base</h4>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Paramètre</th>
                <th>Valeur</th>
            </tr>
        </thead>
        <tbody id="resumeParam">
        </tbody>
    </table>
</div>
