<% include head_foot/header %>
    <section class="menu-section">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="chantiers">Mes chantiers</a></li>
                            <li><a href="nouveau_chantier">Nouveau chantier</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Tutoriel</h4>
                </div>
            </div>
			
                <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Notice
                        </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#nouveau" data-toggle="tab">1.Créer un nouveau Chantier</a>
                                </li>
                                <li class=""><a href="#importIm" data-toggle="tab">2.Importer vos images</a>
                                </li>
								<li class=""><a href="#paramAv" data-toggle="tab">3.Paramètres avancés</a>
                                </li>
								<li class=""><a href="#ValidVisual" data-toggle="tab">4.Validation/Informations sur le chantier</a>
                                </li>
                                <li class=""><a href="#saisiMasqu" data-toggle="tab">5.Saisir un masque</a>
                                </li>
                                <li class=""><a href="#telecRes" data-toggle="tab">6.Télécharger les résultats</a>
                                </li>
                            </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="nouveau">
							<br />
                            <div class="tutorieltitre">1. Créer un nouveau Chantier</div>
                            <br />
							
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Appuyez sur "Nouveau Chantier"
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Entrez un nom à votre chantier
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Vous pouvez entrer un commentaire pour votre chantier
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Selectionnez votre type de chantier :
								<div class="tutorielmarge">
								Statue <br />
								Façade
								</div>
							</div>
                            <br />
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Toutes les informations que vous entrez seront résumées dans l'onglet de validation
							</div>
                        </div>
                                
						<div class="tab-pane fade" id="importIm">
                                <div class="tab-pane fade active in" id="home2">
							<br />
                            <div class="tutorieltitre">2. Importer vos images</div>
                            <br />
							</div>
							
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Appuyez sur l'onglet "Import des images"
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Appuyez sur le bouton "Sélect. fichiers"
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Sélectionnez dans vos dossiers les images à importer et cliquez sur "Ouvrir"
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Cliquez sur "Importer"
							</div>
                            <br />
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Vous n'êtes pas obligé d'importer toutes vos images d'un seul coup
							</div>
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Vous pouvez également déposer directement vos images dans l'emplacement dédié
							</div>
							<div class="tutoriel">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Vos images importées sont indiquées en bas de page
							</div>
							<br />
							<div class="tutoriel alert alert-danger">
                            <i class="fa fa-warning fa-3x"></i>
							Vous ne pouvez pas avoir plusieurs images du même nom
							</div>
							<div class="tutoriel alert alert-danger">
                            <i class="fa fa-warning fa-3x"></i>
							Si l'import des images n'est pas terminé, vous ne pourrez pas lancer le calcul !
							</div>
							<div class="tutoriel alert alert-warning">
							<i class="fa fa-lightbulb-o fa-3x"></i>
							Vous pouvez soit passer à l'étape de validation soit entrer des paramètres avancés en cliquant sur "Configuration avancée"
							</div>
							<br />
						</div>
						
						<div class="tab-pane fade" id="paramAv">
                                <div class="tab-pane fade active in" id="home3">
							<br />
                            <div class="tutorieltitre">3.1. Paramètres de traitement</div>
                            <br />
							</div>
							
							<div class="tutoriel">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Selectionnez votre type de masque :
								<div class="tutorielmarge">
								Deux masques 2D <br />
								Un masque 3D
								</div>
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Selectionnez la quantité de points de liaison
								<div class="tutorielmarge">
								Ce paramètre influera fortement sur le temps de calcul
								</div>
							</div>
							<br />
							<div class="tutoriel alert alert-danger">
                            <i class="fa fa-warning fa-3x"></i>
							"Moyen" devrait suffir dans la plupart des cas, n'utilisez "Important" que si vous êtes sûr de ce que vous faites !
							</div>
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Selectionnez la taille du nuage de points résultant
								<div class="tutorielmarge">
								Ce paramètre influera fortement le temps de calcul et la taille du fichier résultat
								</div>
							</div>
							<br />
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Choisissez le géoréférencement des données :
								<div class="tutorielmarge">
								Mise à l'échelle <br />
								Basculement
								</div>
							</div>
							
							<br />
							<div class="tab-pane fade active in" id="home8">
							<br />
                            <div class="tutorieltitre">3.2. Gestion des caméras</div>
                            <br />
							</div>
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Vous pouvez visualiser les données exif des images importées en cliquant sur "Visualiser les données exif"
							</div>
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Entrez un nom à votre calibration
							</div>
							<br />
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Choisissez entre un auto-étalonnage ou un fichier de calibration
								<div class="tutorielmarge">
								Le fichier de calibration est à importer
								</div>
							</div>
							<br />
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Choisissez le type de votre objectif :
								<div class="tutorielmarge">
								Standard<br />
								Fish-Eye<br />
								FraserBasic
								</div>
							</div>
							<br />
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Si vous souhaitez faire la calibration à partir de nouvelles images, vous pouvez les importer
							</div>
							<br />
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Les images importées pour la calibration sont listées dans l'onglet "Import des images"
							</div>
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Vous pouvez faire la calibration à partir d'images déjà importées en les sélectionnant dans la liste déroulante
							</div>
							<br />
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Si vous avez les informations sur le capteur, vous pouvez préciser la focale réelle et/ou les dimensions du capteur
							</div>
							<br />
						</div>
						
						<div class="tab-pane fade" id="ValidVisual">
                                <div class="tab-pane fade active in" id="home9">
							<br />
                            <div class="tutorieltitre">4. Validation/Informations sur le chantier</div>
                            <br />
							</div>
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Pour lancer le calcul, dans l'onglet "Validation", appuyez sur "Lancer le calcul"
							</div>
                            <br />
							<div class="tutoriel alert alert-danger">
                            <i class="fa fa-warning fa-3x"></i>
							Il se peut qu'un message d'erreur apparaisse. Dans ce cas, suivez les instructions de ce message
							</div>
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Si tout est Ok, vous serez alors redirigé vers la page "Mes chantiers"
							</div>
							<br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Lorsque le premier calcul sera terminé, il vous faudra saisir un masque. Pour celà, appuyez sur l'onglet "Restriction de la zone d'intérêt" quand il sera dégrisé
							</div>
                            <br />
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Vous pouvez visualiser les informations de vos projets précédents dans l'onglet "Configuration"
							</div>
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							Lorsqu'ils seront disponibles, les résidus s'afficheront dans l'onglet "Mise en place". Vous pouvez ainsi évaluer si le calcul de mise en place est bon
							</div>
						</div>
						
						<div class="tab-pane fade" id="saisiMasqu">
                                <div class="tab-pane fade active in" id="home4">
							<br />
                            <div class="tutorieltitre">5. Saisir un masque</div>
                            <br />
							</div>
							
							<div class="tutoriel">
							<i class="fa fa-arrow-circle-o-right fa-3x"></i>
							Vous pouvez vous déplacer dans la fenêtre avec votre souris :
							<div class="tutorielmarge">
								Clic gauche + déplacement souris pour les rotations<br />
								Clic droit + déplacement souris pour les translations<br />
								Clic molette + déplacement souris pour zoomer/dézoomer
								</div>
							</div>
							<br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Lorsque vous serez bien positionné pour saisir le masque, appuyez sur "Saisie masque"
							</div>
                            <br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Saisissez le masque autour de votre zone d'intérêt :
							<div class="tutorielmarge">
								Clic gauche pour saisir un point<br />
								Clic droit pour supprimer le dernier point
								</div>
							</div>
                            <br />
							<div class="tutoriel alert alert-warning">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
							En cas de mauvaise saisie, vous pouvez tout supprimer en appuyant sur "Recommencer"
							</div>
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Lorsque vous aurez saisi tous les points de votre masque, appuyez sur "Valider"
							</div>
                            <br />
						</div>
						
						<div class="tab-pane fade" id="telecRes">
                                <div class="tab-pane fade active in" id="home5">
							<br />
                            <div class="tutorieltitre">6. Télécharger les résultats</div>
                            <br />
							</div>
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Lorsque l'onglet "Produits" sera dégrisé, vous pourrez télécharger les produits suivants :
							<div class="tutorielmarge">
								Points de liaison<br />
								Nuage de points de liaison et position des caméras<br />
								Fichier de calibration<br />
								Fichiers d'orientation<br />
								Rapport de mise en place
								</div>
							</div>
							<br />
							<div class="tutoriel">
                            <i class="fa fa-gears fa-3x"></i>
							Lorsque le masque aura été saisi et le calcul final effectué, vous pourrez télécharger le nuage de points 3D
							</div>
                            <br />
						</div>
						
                    </div>
                    </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <% include head_foot/footer %>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="/javascripts/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>
