<div class="col-md-6" id="on_click4" style="display:none;">
    <div class="notice-board">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                Résumé des paramètres du chantier
            </div>
            
            <% include ../../resume_param %>
        
            <% include ../../resume_etalonnage %>
        </div>
        <br />
        <a class="btn btn-social btn-other" type="submit" onclick="javascript:lancer_calcul();">
            <span class="glyphicon glyphicon-check"></span>&nbsp;LANCER LE CALCUL
        </a>&nbsp;
    </div>
</div>
