<div class="col-md-6" id="on_click4" style="display:none;">
    <div class="notice-board">
        <div class="panel panel-default">
            
            <div class="panel-heading">
                Résumé des paramètres du chantier
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Paramètre</th>
                                <th>Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <a class="btn btn-social btn-other" type="submit">
            <span class="glyphicon glyphicon-check"></span>&nbsp;LANCER LE CALCUL
        </a>&nbsp;
    </div>
</div>
