<div class="tab-pane fade" id="cameras-pills">
    <div class="panel-body">

<!--  Liste des images à choisir pour drag and drop -->

<!-- Fin liste des images pour drag and drop -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<% include popup/exif %>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - -->    

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP ETALONNAGE - - - - - - - - - - - - - - - - - - - - - - - -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myEtalon">
    Modifier l'étalonnage
</button>

    </div>
</div>
