<div class="modal fade" id="myExif" tabindex="-1" role="dialog" aria-labelledby="myExifLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myExifLabel">Visualisation des données exif</h4>
            </div>
            <form method="get">
                <div class="modal-body">
                    <div class="radio horizontal-radio">
                        <div class="inline-radio">
                            <label>
                                <input type="radio" name="radioexif" id="boutonImage" value="parImage" onclick="javascript: afficher('parImage');afficher('parBaliseExif');" checked />
                                Par image&nbsp;
                            </label>
                        </div>
                        <div class="inline-radio">
                            <label>
                                <input type="radio" name="radioexif" id="boutonExif" value="parExif" onclick="javascript: afficher('parImage');afficher('parBaliseExif');" />
                                Par balise exif
                            </label>
                        </div>
                    </div>
                    
                    <div id="parBaliseExif" style="display: none">
                        <label>Choix de la balise&nbsp;</label>
                        <!-- LA LISTE DES NOMS DES BALISES -->
                        <select class="form-control" id="nomsBalises" onchange="javascript: infosBalise(this.value)">
                        </select>
                        <!-- FIN DE LA LISTE -->
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody id="infosBalise">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div id="parImage" style="display: block">
                        <label>Choix de l'image&nbsp;</label>
                        <!-- LA LISTE DES NOMS DES IMAGES -->
                        <select class="form-control" id="nomsImages" onchange="javascript: infosImage(this.value)">
                        </select>
                        <!-- FIN DE LA LISTE -->
                        <br/>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody id="infosImage">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                     </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Quitter</button>
                </div>
            </form>
        </div>
    </div>
</div>
