<div class="col-md-6" id="on_click3" style="display:none;">
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li class="active"><a href="#param-pills" data-toggle="tab">Paramètres de traitement</a>
            </li>
            <li class=""><a href="#images-pills" data-toggle="tab">Gestion des images</a>
            </li>
            <li class=""><a href="#cameras-pills" data-toggle="tab">Gestion des caméras</a>
            </li>
        </ul>

        <div class="tab-content">
            <form method="get" name="on_click3a" >
            <% include tab_parametres %>

            <% include tab_images %>
            
            <% include tab_cameras %>
			</form>
        </div>
    </div>

    <br />
    <a href="#" class="btn btn-social btn-other" onclick="javascript:valider_onglet('on_click4');">
        Suivant
    </a>
</div>
