<div class="tab-pane fade" id="cameras-pills">
    <div class="panel-body">

<!--  Liste des images à choisir pour drag and drop -->
 <div>
		<!-- Drag zone Zone -->
		<div class="panel-heading"><strong>Images du chantier</strong></div>
		<div class="drag-zone" id="drag-zone-etalonnage"></div>
 </div>
<!--   -->

<!-- Choix du nb d'étalonnages -->
<div>
	<div class="panel-heading">
		<strong>Nombre d'étalonnages</strong>
		<select id="nbEtalonnages">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
	</div>
</div>
<!--   -->

 <div>
		<!-- Drag zone Zone -->
		<div class="panel-heading"><strong>Etalonnage 1</strong></div>
		<div class="drag-zone" id="drag-zone-etalonnage1"></div>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - - - -->
		<% include exif %>
		<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - -->    
		
	
    </div>
</div>
