<div class="tab-pane fade" id="cameras-pills">
    <div class="panel-body">
                
        <% include popup/exif %>
        
        <% include popup/etalonnage %>
        
    </div>
</div>
