<div class="tab-pane fade" id="cameras-pills">
    <div class="panel-body">

<!--  Liste des images à choisir pour drag and drop -->

<!-- Fin liste des images pour drag and drop -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<% include exif %>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - -->    

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - ETALONNAGE - - - - - - - - - - - - - - - - - - - - - - - -->
        <div class="panel panel-info" id="myEtalon">
            
            <div class="panel-heading">
                Définition de l'étalonnage
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myExif" style="float: right;">
                    Visualiser les données exif
                </button>
            </div>
            
            <form method="get" id="etalonnageForm">
                
                <div class="panel-body">
                    <div class="notice-board">
                        <label>Nom de la calibration</label>
                        <input type="text" class="form-control" placeholder="Text input" id="calibrationname" />
                                                      
                        <div class="radio" id="auto">
                            <label>
                                <input type="radio" class="root1" id="auto_etalonnage" name="optionsRadios" value="auto" onclick="javascript:grise('fromFile', null, 'root1');degrise('auto', null, 'root2');" checked />
                                Auto-Étalonnage
                            </label>
                            
                            <div class="radio horizontal-radio">
                                <div class="inline-radio">
                                    <label>
                                        <input type="radio" name="options" id="standard" value="standard" checked />
                                        Standard
                                    </label>
                                </div>
                                <div class="inline-radio">
                                    <label>
                                        <input type="radio" name="options" id="fisheye" value="fisheye" />
                                        Fish-Eye
                                    </label>
                                </div>
                                <div class="inline-radio">
                                    <label>
                                        <input type="radio" name="options" id="fraserbasic" value="fraserbasic" />
                                        FraserBasic
                                    </label>
                                </div>
                            </div>
                            
                            <div class="checkbox" id="imgCalib">
                                <label>
                                    <input type="checkbox" id="imgCalibCb" value="imagesCalibration" class="root3" onchange='informationCapteur("imgCalib");' />
                                    Images spécifiques pour la calibration
                                </label>
                                
                                <div class="tab">
                                    
                                    <!-- Importer de nouvelles images -->
                                    <div class="inline-radio">
                                        <label>
                                            <input type="radio" name="imgSpec" id="upload" value="upload" disabled />
                                            Importer de nouvelles images
                                            <div class="form-inline form-group">
                                                <input type="file" name="files[]" id="js-upload-calib-images" accept="image/*" multiple disabled />
                                                <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" disabled>Importer</button>
                                            </div>
                                        </label>
                                    </div>
                                    
                                    <div class="inline-radio">
                                        <label>
                                            <input type="radio" name="imgSpec" id="choix" value="choix" onclick="javascript: launchAll()" disabled />
                                            Utiliser une partie des images existantes
                                            <select class="form-control" id="menuDeroulantImages" size="3" disabled >
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="checkbox" id="infoCapteur">
                                <label>
                                    <input type="checkbox" class="root3" value="infoCapteur" id="infoCapteurCb" onchange='informationCapteur("infoCapteur");'/>
                                    Informations sur le capteur
                                </label>
                                
                                <div class="tab">
                                    <label>
                                        Focale réelle
                                        <input type="number" class="inline-input" id="focale_reelle" min="0" disabled /> mm
                                    </label>
                                    <br/>
                                    <label>
                                        Dimensions
                                        <input type="number" class="inline-input" id="dim_1" min="0" disabled />
                                        ×
                                        <input type="number" class="inline-input" id="dim_2" min="0" disabled /> mm
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="radio" id="fromFile" disabled >
                            <label>
                                <input type="radio" class="root1" name="optionsRadios" value="fichier" onclick="javascript:grise('auto', null, 'root1');degrise('fromFile', null, 'NO_CLASS_NAME', true);" />
                                Fichier de calibration
                            </label>
            
                            <div class="form-inline">
                                <!-- VERIFIER LE MIME, PLUTOT -->
                                <input type="file" name="files[]" id="js-upload-calib-files" accept="text/xml" disabled  />
                            </div>
                        </div>
                    </div>
                    <br />    
                </div>                    
                                                                    
                <div class="panel-footer">
                    <button type="reset" class="btn btn-default">Retour aux valeurs par défaut</button>
                </div>
                
            </form>
        </div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN ETALONNAGE - - - - - - - - - - - - - - - - - - - - - -->

    </div>
</div>
