<div class="tab-pane fade active in" id="param-pills">
    <br />
    <div class="notice-board">
        <div class="dropdown">
            <label>Mode de restriction de la zone de travail</label>
            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-question" ></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" role="presentation">
                &nbsp;Plein de texte explicatif.
            </div>
        </div>

        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="2D" disabled />
                Deux masques 2D
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios4" value="3D" checked />
                Un masque 3D
            </label>
        </div>
        <br />

        <div class="dropdown">
            <label>Nombre de points de liaison</label>
            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-question" ></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu3" role="presentation">
                &nbsp;Plein de texte explicatif.
            </div>
        </div>

        <select class="form-control">
            <option>Faible</option>
            <option selected="selected">Moyen</option>
            <option>Important</option>
            <option>Maximal</option>
        </select>
        <br />

        <div class="dropdown">
            <label>Géoréférencement des données</label>
            <button class="btn btn-success dropdown-toggle btn-xs" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-question" ></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu4" role="presentation">
                &nbsp;Plein de texte explicatif.
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="echelle" />
                Mise à l'échelle
            </label>
            <br />
            <label>
                <input type="checkbox" value="basculement" disabled />
                Basculement
            </label>
        </div>

        <!--
        <label> Produits à livrer</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="nuage3D" checked />
                Nuage de points 3D
            </label>
            <br />
            <label>
                <input type="checkbox" value="pointsLiaison" />
                Points de liaison
            </label>
            <br />
            <label>
                <input type="checkbox" value="nuagePoints" />
                Nuage de points de liaison et position des caméras
            </label>
            <br />
            <label>
                <input type="checkbox" value="Calibration" />
                Calibration
            </label>
            <br />
            <label>
                <input type="checkbox" value="FichierOrientation" />
                Fichiers d'orientation
            </label>
            <br />
            <label>
                <input type="checkbox" value="Rapport" />
                Rapport de mise en place
            </label>
        </div>
        -->
    </div>
</div>
