<div class="tab-pane fade" id="cameras-pills">
    <div class="panel-body">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<% include popup/exif %>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN POP-UP EXIF - - - - - - - - - - - - - - - - - - - - - - - - -->    

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - POP-UP ETALONNAGE - - - - - - - - - - - - - - - - - - - - - - - -->
<% include popup/etalonnage %>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - FIN POP-UP ETALONNAGE - - - - - - - - - - - - - - - - - - - - - -->

    </div>
</div>
