<div class="form-group dropdown panel panel-success" id="config">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" id="config-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('config');">
                <i class="fa fa-plus"></i>
            </button>
            Configuration
        </h4>
    </div>

    <div class="panel-body" id="config-body" style="display:none;">
        <div class="col-md-6">
            <% include ../resume_param %>
        
            <% include ../resume_etalonnage %>
        </div>
    </div>
</div>
