<div class="form-group dropdown panel panel-success" id="mise">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" id="mise-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('mise');">
                <i class="fa fa-plus"></i>
            </button>
            Mise en place
        </h4>
    </div>

    <div class="panel-body" id="mise-body" style="display:none;">
        Divers trucs.
    </div>
</div>
