<div class="dropdown panel panel-success greyed-out" id="produits">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" disabled="disabled" id="produits-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('produits');">
                <i class="fa fa-plus"></i>
            </button>
            Produits
        </h4>
    </div>

    <div class="panel-body" id="produits-body" style="display:none;">
        
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>Nuage de points 3D</td>
                        <td>
                            <a  id="nuage" download><button    >Télécharger</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Points de liaison</td>
                        <td>
                            <a  id="liaison" download><button    >Télécharger</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Nuage de points de liaison et position des caméras</td>
                        <td>
                                
                                <a  id="position" download><button    >Télécharger</button></a>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>Calibration</td>
                        <td>
                            <a  id="calibration" download><button    >Télécharger</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Fichiers d'orientation</td>
                        <td>
                            <a  id="orientation" download><button    >Télécharger</button></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Rapport de mise en place</td>
                        <td>
                            <a  id="rapport" download><button    >Télécharger</button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
