<div class="form-group dropdown panel panel-success">
    <div class="panel-heading greyed-out">
        <h4>
            <button class="btn btn-success btn-sm" id="produits-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('produits');">
                <i class="fa fa-plus"></i>
            </button>
            Produits
        </h4>
    </div>

    <div class="panel-body" id="produits" style="display:none;">
        <div id="produit" style="width:80%;height:600px; "> </div>
        Divers trucs.
    </div>
</div>
