<div class="dropdown panel panel-success greyed-out" id="zone">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" disabled="disabled" id="zone-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('zone');">
                <i class="fa fa-plus"></i>
            </button>
            Restriction de la zone d'intérêt
        </h4>
    </div>

    <div class="panel-body" id="zone-body" style="display:none;">
        <div id="Restriction" style="width:50%;height:400px; "> </div>
        <h4>SaisieMasq</h4>
        <p>Déplacez vous dans l'environnement du nuage de points de façon à voir l'objet que vous voulez modéliser en entier.</p>
        <p>Cliquer sur le bouton saisir le masque, puis saisir les points de contour du masque avec le clique gauche de la souris.</p>
        <p>Supprimer le dernier point cliqué avec le clique droit.</p>
        <p>Valider le masque ou recommencer.</p>
        <button id="saisieMasqRestriction" >Saisir le masque</button>
        <button id="resetMasqRestriction" >Recommencer</button>
        <button id="submitMasqRestriction" >Envoyer le masque</button>
    </div>
</div>
