<div class="form-group dropdown panel panel-success">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" id="config-button" type="button" aria-expanded="true" onclick="javascript:afficher('config');javascript:plusMoins('config-button');">
                <i class="fa fa-plus"></i>
            </button>
            Configuration
        </h4>
    </div>

    <div class="panel-body" id="config" style="display:none;">
        Divers trucs.
    </div>
</div>
