<div class="form-group dropdown panel panel-success">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" id="zone-button" type="button" aria-expanded="true" onclick="javascript:afficher('zone');javascript:plusMoins('zone-button');">
                <i class="fa fa-plus"></i>
            </button>
            Restriction de la zone d'intérêt
        </h4>
    </div>

    <div class="panel-body" id="zone" style="display:none;">
        <div id="Restriction" style="width:50%;height:400px; "> </div>
        <input type="radio" id="saisieMasqButton1Restriction" name="saisieMasqButton"  value="1"> Oui<br>
        <input type="radio" id="saisieMasqButton2Restriction"  name="saisieMasqButton"   value="2" checked> Non<br>
        <button id="submitMasqRestriction" >Masque terminé</button>
    </div>
</div>
