<div class="dropdown panel panel-success greyed-out" id="mise">
    <div class="panel-heading">
        <h4>
            <button class="btn btn-success btn-sm" disabled="disabled" id="mise-button" type="button" aria-expanded="true" onclick="javascript:plusMoins('mise');">
                <i class="fa fa-plus"></i>
            </button>
            Mise en place
        </h4>
    </div>

    <div class="panel-body" id="mise-body" style="display:none;">
        <div id="residusChantier"></div>
    </div>
</div>
